* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  /* text-transform: capitalize; */
  transition: all 0.4s;
  font-family: 'Nunito Sans', sans-serif;

}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  /* scroll-behavior: smooth; */
  /* scroll-padding-top: 7rem; */
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --colorViolet-1: rgb(237, 234, 248);
  --colorViolet-2: rgb(172, 152, 246);
  --colorViolet-3: rgb(120, 85, 246);
  --colorViolet-4: rgb(198, 198, 250);
  --colorWhite-1: #fff;
  --colorWhite-2: #eee;
  --colorBlack-1: #111;
  --colorBlack-2: #222;
  --colorBlack-3: #444;
  /* --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8); */

  --big-sz: calc(16px + (28 - 16) * ((100vw - 300px) / (1500 - 300)));
  --medium-sz: calc(10px + (18 - 10) * ((100vw - 300px) / (1500 - 300)));
  --small-sz: calc(6px + (10 - 6) * ((100vw - 300px) / (1500 - 300)));
}

section {
  padding: 1rem 2rem;
}
